<h1>Shows</h1>

<% for (let i = 0; i < list.length; i++) { %>
  <% const show = list[i]; %>
  <h2>ID: <%= show.id %></h2>
  <h2>Show Title: <%= show.name %></h2>
  <h2>Show Category: <%= show.category%></h2>
  <hr />
  <% } %></favoriteShows.length;
>
